@import url("./addressbar.css");
@import url("./dirviewer.css");
@import url("./toolbar.css");

#LoadSaveDialog div.body {
  overflow: hidden;
  padding: 0;
  height: 100%;
}

#LoadSaveDialog {
  transition: all 0.3s, width 0s, height 0s !important;
  max-width: 100% !important;
  max-height: 100% !important;
  min-width: 460px !important;
  min-height: 310px !important;
}

#LoadSaveDialog::before {
  display: none;
}
