#LoadSaveDialog div.directory-viewer.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-template-rows: repeat(auto-fit, 85px);
  position: relative;
}

#LoadSaveDialog div.directory-viewer p.empty,
#LoadSaveDialog div.directory-viewer.grid div.center-flex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 25px;
}

#LoadSaveDialog div.directory-viewer.grid button.header-row {
  display: none;
}

#LoadSaveDialog div.directory-viewer.grid button {
  display: flex;
  vertical-align: top;
  flex-direction: column;
  width: 80px !important;
  height: fit-content;
  margin: 0;
  margin-bottom: 12px;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

#LoadSaveDialog div.directory-viewer.grid button div.segment.icon img {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

#LoadSaveDialog div.directory-viewer.grid button div.segment.icon {
  width: unset;
  height: 32px;
}

#LoadSaveDialog
  div.directory-viewer.grid
  button
  div.segment:not(.name):not(.icon) {
  display: none;
}

#LoadSaveDialog div.directory-viewer.grid button div.segment.name {
  width: 100%;
  text-align: center;
  max-width: unset;
  margin: 0;
  height: fit-content;
  max-height: 2.6em;
  text-shadow: #000 0 0 5px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
