#LoadSaveDialog div.directory-viewer button div.segment {
  text-align: left;
}

#LoadSaveDialog div.directory-viewer button div.segment.name {
  max-width: calc(100% - 24px - 200px - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#LoadSaveDialog div.directory-viewer button div.segment.icon {
  width: 24px;
  height: 24px;
}
#LoadSaveDialog div.directory-viewer button div.segment.icon img {
  width: 24px;
  height: 24px;
}

#LoadSaveDialog div.directory-viewer button div.segment.type {
  margin-left: auto;
  width: 80px;
  min-width: 80px;
}

#LoadSaveDialog div.directory-viewer button div.segment.size {
  width: 90px;
  min-width: 90px;
}

#LoadSaveDialog div.directory-viewer button div.segment.modified {
  width: 90px;
  min-width: 90px;
}
